h1 {
  color: rgb(139, 215, 139);
  text-align: center;
}

h2 {
  font-style: italic;
  text-align: center;
}

p {
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

ul {
  font-size: 20px;
  line-height: 30px;
}

body {
  background-color: rgba(184, 62, 62, 0.853);
}